emacs/auto-save-list
emacs/cache
emacs/data
emacs/elpa
emacs/eshell
emacs/places
emacs/recentf
emacs/projectile.cache
emacs/projectile-bookmarks.eld
emacs/custom.el
emacs/savefiles
emacs/tramp
emacs/bookmarks

vim/backup
vim/plugged
vim/swap
vim/undo
