emacs/.emacs.desktop
emacs/.session
emacs/.smex-items
emacs/auto-save-list
emacs/elpa
emacs/eshell
emacs/history
emacs/ido.last
emacs/places
emacs/projectile-bookmarks.eld
emacs/recentf
emacs/savefiles
emacs/server

vim/backup
vim/plugged
vim/swap
vim/undo
