[user]
	name = Antoine Lestrade
	email = alestrade@alten.be
[diff]
	tool = vimdiff
[alias]
	d = difftool
	prettylog = log --pretty=oneline --graph --all --decorate --abbrev-commit
	pushdev = push "origin" development:development
	pushacc = push "origin" acceptance:acceptance
[difftool]
	prompt = false
[core]
	autocrlf = true
