[user]
	name = Antoine Lestrade
	email = antoine.lestrade@macq.eu
[diff]
	tool = gvimdiff
[alias]
	d = difftool
	prettylog = log --pretty=oneline --graph --all --decorate --abbrev-commit
	pushdev = push "origin" development:development
	pushacc = push "origin" acceptance:acceptance
	pushmaster = push "origin" master:master
	last = log -1 --stat
	cp = cherry-pick
	co = checkout
	cl = clone
	ci = commit
	st = status -sbu
	br = branch
  sw = switch
	unstage = reset HEAD --
	dc = diff --cached
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
[difftool]
	prompt = false
[core]
	autocrlf = false
	filemode = false
  hooksPath = "C:/Users/Alten/system-settings/git_hooks/macq"
	autocrlf = false
[push]
	#default = matching
[color]
	ui = true
[credential]
	helper = cache --timeout=3600
[merge]
	tool = vimdiff
[mergetool]
	keeptemporaries = false
	keepbackups = false
	prompt = false
	trustexitcode = false

# vim: ft=gitconfig:et:ts=2:sw=2
