emacs/auto-save-list
emacs/cache
emacs/elpa
emacs/eshell
emacs/ido.last
emacs/libs
emacs/places
emacs/savefiles
emacs/server
emacs/vimish-fold
emacs/custom.el

vim/backup
vim/cache
vim/plugged
vim/swap
vim/undo
# symlink
vim/init.vim
vim/.netrwhist

FontsAndColorsBackup_*
