[submodule "powerline-fonts"]
    path = powerline-fonts
    url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "magit-next"]
    path = emacs/site-lisp/magit
    url = git://github.com/magit/magit.git
    branch = next
