
use system *

source curl-completions.nu
source git-completions.nu

## Docker
{{ if lookPath "docker" }}source 'docker-completions.nu'{{ end }}

## Rust completions
{{ if lookPath "cargo" }}source 'cargo-completions.nu'{{ end }}
{{ if lookPath "rustup" }}source 'rustup-completions.nu'{{ end }}

## NodeJS
{{ if lookPath "npm" }}source npm-completions.nu{{ end }}
{{ if lookPath "yarn" }}source yarn-completions.nu{{ end }}

#
#{{ if lookPath "mysql" }}
#source 'scripts/custom-completions/mysql/mysql-completions.nu'
#{{ end }}

{{ if lookPath "just" }}source 'just-completions.nu'{{ end }}

{{ if lookPath "code" }}source vscode-completions.nu{{ end }}
#
#{{ if lookPath "rg" }}
#source 'scripts/custom-completions/just/just-completions.nu'
#{{ end }}
#


#{{ if lookPath "winget" }}
#source 'scripts/custom-completions/winget/winget-completions.nu'
#{{ end }}

## Modules
{{ if lookPath "fzf" }}
source fzf/fuzzy_history_search.nu
source fzf/fuzzy_command_search.nu
alias hi = fuzzy-history-search
alias hf = fuzzy-command-search
{{ end }}

{{ if lookPath "kubectl" }}use kubernetes *{{ end }}


{{ if lookPath "starship" }}
use "./starship-init.nu"
{{ end }}

#source ~/.oh-my-posh.nu
